---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Project, {ProjectMarkdown} from '../../components/Project.astro';

const title = 'Projects';
const description = 'Recent Projects';
const permalink = `${Astro.site?.href}projects`;

let allProjects = await Astro.glob<ProjectMarkdown>('../../data/projects/*.md');
allProjects = allProjects.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <h1>Projects</h1>
    {allProjects.map((project, index) => {
      const href = `/projects/${project.file.split('/').pop()?.split('.').shift()}`;
      return (
        <div>
          { index !== 0 && <hr /> }
          <Project href={href} project={project} />
        </div>
      )
    })}
  </div>
</BaseLayout>

<style>
  hr {
    margin: 30px auto;
  }
</style>
